.formulaire-contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulaire-contact form h1 {
  font-size: 1.2rem;
}

.formulaire-contact form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.formulaire-contact form div input {
  width: 100%;
  border: solid 1.5px black;
}

.formulaire-contact form div textarea {
  border: solid 1.5px black;
}

.formulaire-contact form button {
  margin: 15px;
  background-color: #8130AC;
  padding: 5px;
  color: white;
}

.imgplateau img {
  width: 100%;
}

.partenaires-container h2 {
  font-size: 1.2rem;
  padding: 10px;
}

.descriptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.descriptions .articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1240px) {
  .descriptions .articles img {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
  }
}

.descriptions .articles h1 {
  margin: 0;
  padding: 5px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: #8130AC;
  font-size: 1.5rem;
}

.descriptions .articles .article {
  margin: 10px;
}

@media screen and (min-width: 768px) {
  .descriptions .articles .article {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
  }
}

.descriptions .articles .article h2 {
  text-align: center;
  width: 100%;
}

.descriptions h1 {
  width: 100%;
  background-color: #8130AC;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 5px;
}

.descriptions .equipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  gap: 10px;
  text-align: center;
}

.descriptions .equipe img {
  width: 180px;
  height: 180px;
}

.articles-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.articles-container .titre-accueil {
  margin: 15px;
  text-align: center;
  font-size: .9rem;
}

@media screen and (min-width: 768px) {
  .articles-container .titre-accueil {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1600px) {
  .articles-container .titre-accueil {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1240px) {
  .articles-container .imgplateau {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    border-radius: 10px;
  }
}

.articles-container .last-emissions {
  text-align: center;
  font-size: 1.2rem;
  background-color: #8130AC;
  padding: 10px;
  margin-top: 0;
  color: white;
}

.articles-container #emissions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1240px) {
  .articles-container #emissions {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1500px) {
  .articles-container #emissions {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.articles-container #emissions .emission {
  margin: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  text-align: center;
}

.articles-container #emissions .emission h2 {
  margin: auto;
  background-color: #8130AC;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
}

.articles-container #emissions .emission img {
  width: 100%;
  border-radius: 10px;
}

.articles-container #emissions .emission h3 {
  font-size: .8rem;
  font-weight: bold;
  color: white;
}

.articles-container .more {
  margin: auto;
  background-color: #8130AC;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .articles-container .more {
    padding: 5px;
  }
}

.articles-container .more a {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles-container .more a h3 {
  margin: 0;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .articles-container .more a h3 {
    font-size: 1.2rem;
  }
}

.articles-container .map-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles-container .map-container .map-yonne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.articles-container .map-container .map-yonne .ville-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (min-width: 768px) {
  .articles-container .map-container .map-yonne .ville-container {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
}

@media screen and (min-width: 1240px) {
  .articles-container .map-container .map-yonne .ville-container {
    -ms-grid-columns: (1fr)[10];
        grid-template-columns: repeat(10, 1fr);
  }
}

.articles-container .map-container .map-yonne .ville-container p {
  margin: 5px;
  text-align: center;
  border-right: solid 1px #8130AC;
  font-size: .8rem;
}

.articles-container .map-container h2 {
  width: 100%;
  margin: 0;
  padding: 10px;
  text-align: center;
  background-color: #8130AC;
  color: white;
  font-size: 1.2rem;
}

.articles-container .partenaires-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.articles-container .partenaires-container h2 {
  color: white;
  width: 100%;
  background-color: #8130AC;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
}

.articles-container .partenaires-container .partenaires-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

@media screen and (min-width: 1240px) {
  .articles-container .partenaires-container .partenaires-img {
    margin-left: 10%;
    margin-right: 10%;
    gap: 50px;
  }
}

.articles-container .partenaires-container .partenaires-img a {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.articles-container .partenaires-container .partenaires-img a img {
  width: 100%;
  border-radius: 10px;
}

#emissions-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#emissions-list .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#emissions-list .search h1 {
  font-size: 1rem;
  text-align: center;
}

#emissions-list .search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#emissions-list .emissions {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#emissions-list .emissions h2 {
  margin: 0;
  width: 100%;
  text-align: center;
  background-color: #8130AC;
  color: white;
  padding: 5px;
}

#emissions-list .emissions .carroussel-emission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  margin-bottom: 20px;
}

#emissions-list .emissions .carroussel-emission .image {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media screen and (min-width: 768px) {
  #emissions-list .emissions .carroussel-emission .image {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media screen and (min-width: 1240px) {
  #emissions-list .emissions .carroussel-emission .image {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

#emissions-list .emissions .carroussel-emission .image img {
  width: 100%;
}

.partenaires-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.partenaires-container h2 {
  color: white;
  width: 100%;
  background-color: #8130AC;
  margin: 0;
  padding: 5px;
  text-align: center;
}

.partenaires-container .partenaires-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1240px) {
  .partenaires-container .partenaires-img {
    margin-left: 10%;
    margin-right: 10%;
    gap: 50px;
  }
}

.partenaires-container .partenaires-img a {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.partenaires-container .partenaires-img a img {
  width: 100%;
}

.mentionsleg .titreml h3 {
  text-align: center;
}

.mentionsleg .titreml p {
  text-align: center;
}

.mentionsleg h4 {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

.mentionsleg p {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.navbar {
  background-color: #1C1C1C;
  padding: 0;
  border-bottom: solid 2px #8130AC;
}

@media screen and (min-width: 1240px) {
  .navbar {
    border-bottom: solid 2px grey;
    border-bottom: none;
  }
}

.navbar .nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

@media screen and (min-width: 1240px) {
  .navbar .nav-main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr 3fr;
        grid-template-columns: 3fr 1fr 3fr;
  }
}

@media screen and (min-width: 1600px) {
  .navbar .nav-main {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.navbar .nav-main .lightmode {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .navbar .nav-main .lightmode {
    top: 10px;
  }
}

.navbar .nav-main .lightmode p {
  font-size: .8rem;
  margin: 0;
}

@media screen and (min-width: 1600px) {
  .navbar .nav-main .lightmode p {
    font-size: 1rem;
  }
}

.navbar .nav-main .darkmode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
}

.navbar .nav-main .darkmode #dark {
  display: none;
}

.navbar .nav-main .darkmode #light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .navbar .nav-main .darkmode {
    top: 10px;
  }
}

.navbar .nav-main .darkmode p {
  font-size: .8rem;
  margin: 0;
  color: white;
}

@media screen and (min-width: 1600px) {
  .navbar .nav-main .darkmode p {
    font-size: 1rem;
  }
}

.navbar .nav-main a {
  width: 90px;
}

@media screen and (min-width: 768px) {
  .navbar .nav-main a {
    width: 120px;
  }
}

@media screen and (min-width: 1240px) {
  .navbar .nav-main a {
    width: 130px;
  }
}

.navbar .nav-main a img {
  width: 100%;
}

.navbar .nav-main .dark-logo {
  display: none;
}

.navbar .nav-main .animation {
  -webkit-animation: rotation 5s;
          animation: rotation 5s;
}

.navbar .nav-main .white-logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .nav-main .titre-adhesion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.navbar .nav-main .titre-adhesion .titre {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-style: italic;
  text-align: center;
  color: white;
  font-family: "Orbitron", sans-serif;
}

@media screen and (min-width: 768px) {
  .navbar .nav-main .titre-adhesion .titre {
    margin: 15px;
  }
}

@media screen and (min-width: 1240px) {
  .navbar .nav-main .titre-adhesion .titre {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 2.5rem;
  }
}

.navbar .nav-main .titre-adhesion .adhesion {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  text-align: center;
  font-size: .8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #8130AC;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .navbar .nav-main .titre-adhesion .adhesion {
    font-size: 1.2rem;
    padding: 5px;
  }
}

@media screen and (min-width: 1600px) {
  .navbar .nav-main .titre-adhesion .adhesion {
    font-size: 1.2rem;
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-90deg) scale(1.1);
            transform: rotate(-90deg) scale(1.1);
  }
  50% {
    -webkit-transform: rotate(-250deg) scale(1.25);
            transform: rotate(-250deg) scale(1.25);
  }
  75% {
    -webkit-transform: rotate(-360deg) scale(1.1);
            transform: rotate(-360deg) scale(1.1);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-90deg) scale(1.1);
            transform: rotate(-90deg) scale(1.1);
  }
  50% {
    -webkit-transform: rotate(-250deg) scale(1.25);
            transform: rotate(-250deg) scale(1.25);
  }
  75% {
    -webkit-transform: rotate(-360deg) scale(1.1);
            transform: rotate(-360deg) scale(1.1);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

.navbar .nav-main .burger {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media screen and (min-width: 1240px) {
  .navbar .nav-main .burger {
    display: none;
  }
}

.navbar .nav-main .burger .barreburger {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
}

.navbar .nav-main .close {
  margin: 0;
  display: none;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
}

@media screen and (min-width: 1240px) {
  .navbar .nav-main .close {
    display: none;
  }
}

.navbar .nav-main .close p {
  margin: 0;
  font-size: 3.2rem;
}

.lien {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: solid 3px #8130AC;
}

@media screen and (min-width: 1240px) {
  .lien {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #8130AC;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
  }
}

.lien .emissions {
  margin: auto;
  margin-top: 5px;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: #8130AC;
  color: white;
}

@media screen and (min-width: 1240px) {
  .lien .emissions {
    background-color: white;
    color: #8130AC;
    display: none;
  }
}

.lien .nav-links {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
}

@media screen and (min-width: 1240px) {
  .lien .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
    margin: 0;
  }
}

.lien .nav-links .nav-link {
  margin: 5px;
}

.lien .nav-links .nav-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (min-width: 1240px) {
  .lien .nav-links .nav-link {
    font-size: .9rem;
  }
}

@media screen and (min-width: 1600px) {
  .lien .nav-links .nav-link {
    font-size: 1rem;
  }
}

.lien .nav-links .nav-link a {
  letter-spacing: 0px;
  color: white;
}

@media screen and (min-width: 1240px) {
  .lien .nav-links .nav-link a {
    color: white;
  }
}

.lien .nav-links2 {
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lien .nav-links2 .nav-link2 {
  font-weight: bold;
}

.lien .nav-links2 .nav-link2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.lien .nav-links2 a {
  color: white;
  letter-spacing: 0px;
}

@media screen and (min-width: 1240px) {
  .lien .nav-links2 a {
    color: white;
  }
}

@media screen and (min-width: 768px) {
  .lien .nav-links2 {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1240px) {
  .lien .nav-links2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    margin: 0;
  }
}

@media screen and (min-width: 1240px) {
  .lien .nav-links2 {
    font-size: .9rem;
  }
}

@media screen and (min-width: 1600px) {
  .lien .nav-links2 {
    font-size: 1rem;
  }
}

footer .btnup {
  font-size: 2rem;
  position: fixed;
  bottom: 1%;
  right: 0;
}

footer .btnup svg {
  color: #A8A8AD !important;
}

footer .footer-logo-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin: 10px;
  border-top: solid #8130AC 2px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  footer .footer-logo-address {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-right: 10%;
    margin-left: 10%;
  }
}

@media screen and (min-width: 1240px) {
  footer .footer-logo-address {
    margin-left: 15%;
    margin-right: 15%;
  }
}

footer .footer-logo-address a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .footer-logo-address a img {
  width: 100%;
}

footer .footer-logo-address .white-logo {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-logo-address .white-logo img {
  width: 100%;
}

footer .footer-logo-address .dark-logo {
  display: none;
}

footer .footer-logo-address .coordonnees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-logo-address .coordonnees h3 {
  font-weight: bold;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  footer .footer-logo-address .coordonnees h3 {
    font-size: 1.2rem;
  }
}

footer .footer-logo-address .coordonnees .coordonnee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-logo-address .coordonnees .coordonnee p {
  margin: 0;
  font-size: .8rem;
}

@media screen and (min-width: 768px) {
  footer .footer-logo-address .coordonnees .coordonnee p {
    font-size: 1rem;
  }
}

footer .footer-logo-address .coordonnees .coordonnee #loc {
  margin-top: 5px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

footer .footer-logo-address .coordonnees .coordonnee svg {
  color: white !important;
}

footer .newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

footer .newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
}

footer .newsletter form button {
  font-size: .8rem;
  background-color: #8130AC;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

footer .reseaux {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .reseaux svg {
  color: white !important;
}

@media screen and (min-width: 768px) {
  footer .reseaux {
    margin: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1240px) {
  footer .reseaux {
    gap: 0;
    margin-left: 20%;
    margin-right: 20%;
  }
}

footer .reseaux a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
}

footer .reseaux a svg {
  width: 30px;
  height: 30px;
}

footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px;
  font-size: .8rem;
}

footer .footer-links a {
  color: white;
}

@media screen and (min-width: 768px) {
  footer .footer-links {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 20px;
    font-size: 1rem;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #282828;
  color: white;
}

:root {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 1px;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

.modal-video {
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 2px black;
  background-color: white;
  z-index: 50;
}

.modal-video .modal-title {
  width: 100%;
  margin: 0;
  padding: 10px;
  color: white;
  background-color: #8130AC;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal-video iframe {
    width: 700px;
    height: 400px;
  }
}

@media screen and (min-width: 1240px) {
  .modal-video iframe {
    width: 1100px;
    height: 500px;
  }
}

.modal-video .close-modal {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 20px;
  right: 0;
  font-size: 2rem;
  cursor: pointer;
}

.modal-video .close-modal p {
  color: white;
}

.modal-video img {
  width: 100%;
}

.fond {
  display: none;
  width: 5000px;
  height: 5000px;
  background-color: black;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 40;
  opacity: 0.5;
}

.map-yonne {
  width: 100%;
}

.map-yonne svg {
  width: 100%;
  height: 400px;
}

@media screen and (min-width: 768px) {
  .map-yonne svg {
    height: 500px;
  }
}

@media screen and (min-width: 1240px) {
  .map-yonne svg {
    height: 700px;
  }
}

.map-yonne path {
  stroke: white;
  stroke-width: .1px;
  fill: black;
}

.map-yonne path:hover {
  fill: #282828;
}

.map-yonne .visited path {
  fill: #8130AC;
}
/*# sourceMappingURL=dark.css.map */