@import "variables";

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: $fondbody;
    color: white;

    .navbar {
        background-color: $fondnav;
        padding: 0;
        border-bottom: solid 2px $violet;

        .nav-main {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 10px;
            margin-right: 10px;
            padding: 10px;

            @media screen and (min-width :1600px) {
                margin-left: 5%;
                margin-right: 5%;
            }

            .lightmode {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                position: absolute;
                right: 10px;
                top: 0;
                cursor: pointer;

                @media screen and (min-width : 768px) {
                    top: 10px;
                }

                p {
                    font-size: .8rem;
                    margin: 0;

                    @media screen and (min-width :1600px) {
                        font-size: 1rem;
                    }
                }
            }

            .darkmode {
                display: none;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                position: absolute;
                right: 0;
                top: 0;
                cursor: pointer;

                @media screen and (min-width : 768px) {
                    top: 10px;
                }

                p {
                    font-size: .8rem;
                    margin: 0;

                    @media screen and (min-width :1600px) {
                        font-size: 1rem;
                    }
                }
            }

            a {
                width: 40%;

                @media screen and (min-width: 768px) {
                    width: 20%;
                }

                @media screen and (min-width : 1360px) {
                    width: 10%;
                }

                img {
                    width: 100%;
                }

            }

            .dark-logo {
                display: none;
            }

            .adhesion {
                padding: 0;
                display: flex;
                margin: 0;
                text-align: center;
                font-size: .8rem;
                align-items: center;
                justify-content: center;

                @media screen and (min-width :1600px) {
                    font-size: 1rem;
                }
            }

            .burger {
                display: flex;
                flex-direction: column;
                gap: 5px;
                justify-content: center;
                cursor: pointer;

                @media screen and (min-width : 1360px) {
                    display: none;
                }

                .barreburger {
                    display: block;
                    width: 30px;
                    height: 3px;
                    background-color: white;
                }
            }

            .close {
                display: flex;
                align-items: center;
                cursor: pointer;
                
                .closebtn {
                    display: none;
                    width: 30px;
                    height: 30px;
                }
            }
            .closedark{
                display: none;
            }
        }
    }

    .lien {
        display: none;
        flex-direction: column;
        background-color: $fontnavlink;
        width: 100%;
        text-align: center;
        border-bottom: solid 2px $violet;

        @media screen and (min-width : 1360px) {
            display: flex;
            flex-direction: row;
            background-color: $fondnav;
            justify-content: center;
            justify-content: space-around;
        }


        .emissions {
            margin: auto;
            margin-top: 5px;
            padding: 5px;
            background-color: $violet;
            font-size: 1.5rem;

            @media screen and (min-width : 1360px) {
                display: none;
            }
        }

        .nav-links {
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;


            @media screen and (min-width : 1360px) {
                display: flex;
                flex-direction: row;
                gap: 30px;
                margin: 0;
            }

            .nav-link {
                margin: 5px;
                color: white;

                a:hover {
                    color: $violet;
                }

                @media screen and (min-width :1600px) {
                    font-size: 1.3rem;
                }
            }
        }

        @media screen and (min-width:1360px) {
            .cut {
                margin-top: .8%;
                width: 30px;
                height: 5px;
                background-color: $violet;
            }
        }

        .nav-links2 {
            padding: 0;
            margin-left: 5px;
            margin-right: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a:hover {
                color: $violet;
            }

            @media screen and (min-width : 768px) {
                justify-content: space-around;
            }

            @media screen and (min-width : 1360px) {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 30px;
                margin: 0;
            }

            @media screen and (min-width :1600px) {
                font-size: 1.3rem;
            }
        }
    }

    .articles-container {
        width: 100%;
        display: flex;
        flex-direction: column;

        .titre-accueil {
            margin: 15px;
            text-align: center;
            font-size: 1rem;

            @media screen and (min-width :1600px) {
                font-size: 1.5rem;
            }
        }

        .imgplateau {
            margin-right: 10%;
            margin-left: 10%;
            border: solid $violet 2px;
        }

        .last-emissions {
            text-align: center;
            font-size: 1.5rem;
            background-color: $violet;
            padding: 5px;
            margin-top: 10px;
        }

        #emissions {
            display: flex;
            flex-direction: column;

            @media screen and (min-width : 768px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            @media screen and (min-width : 1360px) {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }

            .emission {
                margin: 5%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                text-align: center;

                h2 {
                    margin: auto;
                    background-color: $violet;
                    padding: 5px;
                }

                img {
                    width: 100%;
                }

                h3 {
                    font-size: 1rem;
                    font-weight: bold;
                }

            }
        }

        .more {
            margin: auto;

            a {

                padding: 5px;
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                background-color: $violet;

                h3 {
                    margin: 0;
                    font-size: 1rem;
                }
            }
        }

        .map-container {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            align-items: center;

            img {
                width: 100%;

                @media screen and (min-width : 768px) {
                    width: 30%;
                }
            }

            h2 {
                width: 100%;
                margin: 0;
                padding: 5px;
                text-align: center;
                background-color: $violet;
            }
        }

        .partenaires-container {
            display: flex;
            flex-direction: column;
            background-color: white;

            h2 {
                color: white;
                width: 100%;
                background-color: $violet;
                margin: 0;
                padding: 5px;
                text-align: center;
            }

            .partenaires-img {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 15px;
                align-items: center;

                @media screen and (min-width :1360px) {
                    margin-left: 10%;
                    margin-right: 10%;
                    gap: 50px;
                }

                a {
                    flex-grow: 0;
                    flex-shrink: 0;
                    flex-basis: 15%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    footer {

        .footer-logo-address {
            display: flex;
            margin: 10px;
            gap: 10px;
            justify-content: space-between;

            @media screen and (min-width:768px) {
                margin-right: 10%;
                margin-left: 10%;
            }

            @media screen and (min-width: 1360px) {
                margin-left: 15%;
                margin-right: 15%;
            }

            a {
                align-self: center;

                img {
                    width: 100%;
                }
            }

            .dark-logo {
                display: none;

                img {
                    width: 100%;
                }
            }


            .coordonnees {
                display: flex;
                flex-direction: column;

                h3 {
                    font-weight: bold;
                    font-size: 1rem;
                }

                .coordonnee {
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    align-items: center;

                    p {
                        margin: 0;
                    }

                    #loc {
                        margin-top: 5px;
                        align-self: baseline;
                    }
                }
            }
        }

        .newsletter {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0;
            margin-bottom: 20px;

            form {
                display: flex;
                flex-direction: row;
                gap: 5px;

                button {
                    font-size: 1rem;
                    background-color: $violet;
                    border: none;
                    color: white;
                    cursor: pointer;
                }
            }

        }

        .reseaux {
            margin: auto;
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: space-between;

            @media screen and (min-width : 768px) {
                margin: 20px;
                justify-content: space-around;
            }

            @media screen and(min-width : 1360px) {
                gap: 0;
                margin-left: 20%;
                margin-right: 20%;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;

                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .footer-links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 5px;
            font-size: .8rem;

            @media screen and (min-width : 768px) {
                justify-content: space-around;
                margin: 20px;
                font-size: 1rem;
            }
        }
    }

}