@import "variables";

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: $fondbody;
    color: white;


    .navbar {
        background-color: $fondnav;
        padding: 0;
        border-bottom: solid 2px $violet;

        .nav-main {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 10px;

            .lightmode{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                position: absolute;
                right: 0;
                top: 0;
                p{
                    font-size: .8rem;
                    margin:0;
                }
            }
            a {
                width: 40%;

                img {
                    width: 100%;
                }

            }

            .adhesion {
                width: 100%;
                padding: 0;
                display: flex;
                margin: 0;
                text-align: center;
                font-size: .8rem;
                align-items: center;
            }

            .burger {
                display: flex;
                flex-direction: column;
                gap: 5px;
                justify-content: center;
                cursor: pointer;

                .barreburger {
                    display: block;
                    width: 30px;
                    height: 3px;
                    background-color: white;
                }
            }

            .close {
                display: flex;
                align-items: center;
                cursor: pointer;

                .closebtn {
                    display: none;
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .lien {
        display: none;
        // display: flex;
        flex-direction: column;
        background-color: $fontnavlink;
        width: 100%;
        text-align: center;
        border-bottom: solid 2px $violet;



        .emissions {
            margin: auto;
            margin-top: 5px;
            padding: 5px;
            background-color: $violet;
            font-size: 1.5rem;
        }

        .nav-links {
            padding: 0;

            .nav-link {
                margin: 5px;
                color: white;
            }
        }

        .nav-links2 {
            padding: 0;
            margin-left: 5px;
            margin-right: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .articles-container {
        width: 100%;
        display: flex;
        flex-direction: column;

        .titre-accueil {
            margin: 15px;
            text-align: center;
            font-size: 1rem;
        }
        .imgplateau{
            border: solid $violet 2px;
        }

        .last-emissions {
            text-align: center;
            font-size: 1.5rem;
            background-color: $violet;
            padding: 5px;
            margin-top: 10px;
        }

        .emission {
            margin: 5%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: center;

            h2 {
                margin: auto;
                background-color: $violet;
                padding: 5px;
            }

            img {
                width: 100%;
            }

            h3 {
                font-size: 1rem;
                font-weight: bold;
            }

        }

        .more {
            margin: auto;

            a {

                padding: 5px;
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                background-color: $violet;

                h3 {
                    margin: 0;
                    font-size: 1rem;
                }
            }
        }

        .map-container {
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            h2 {
                margin: 0;
                padding: 5px;
                text-align: center;
                background-color: $violet;
            }
        }

        .partenaires-container {
            display: flex;
            flex-direction: column;

            h2 {
                margin: 0;
                padding: 5px;
                text-align: center;
                background-color: $violet;
            }
        }
    }

    footer {

        .footer-logo-address {
            display: flex;
            flex-direction: row;
            margin: 10px;
            gap: 10px;

            a {
                align-self: center;
                img {
                    width: 100%;
                }
            }
            .coordonnees{
                display: flex;
                flex-direction: column;
                h3{
                    font-weight: bold;
                    font-size: 1rem;
                }

                .coordonnee{
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    align-items: center;

                    p{
                        margin: 0;
                    }
                    #loc{
                        margin-top: 5px;
                        align-self: baseline;
                    }
                }
            }
        }
        .newsletter{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0;
            margin-bottom: 20px;
            form{
               display: flex;
               flex-direction: row; 
               gap: 5px;

               button{
                   font-size: 1rem;
                   background-color: $violet;
                   border:none;
                   color: white;
               }
            }

        }
        .reseaux{
            margin: auto;
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: space-between;
            
            a{
                display: flex;
                justify-content: center;
                align-items:center ;
                width: 50px;
                height: 50px;
                
                svg{
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .footer-links{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

}