.mentionsleg{

    .titreml{

        h3 {
            text-align: center;
    
        }
        p {
            text-align: center;
    
        }
    }


    h4{
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
    }

    p{
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 15px;
    }
}