:root {
    scroll-behavior: smooth;
    font-family: $geneva;
}

* {
    box-sizing: border-box;
    letter-spacing: 1px;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: $blanc;
}

ul {
    list-style: none;
}