#emissions-list {
    display: flex;
    flex-direction: column;

    .search {
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 1rem;
            text-align: center;

        }

        form {
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: center;
        }
    }

    .emissions {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        h2 {
            margin: 0;
            width: 100%;
            text-align: center;
            background-color: $violet;
            color: white;
            padding: 5px;
        }

        .carroussel-emission {
            display: flex;
            overflow-x: auto;
            margin-bottom: 20px;

            .image {
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 40%;

                @media screen and (min-width: 768px) {
                    flex-basis: 30%;
                }

                @media screen and (min-width: 1240px) {
                    flex-basis: 20%;
                }

                img {
                    width: 100%;
                }
            }

        }

    }

}

.partenaires-container {
    display: flex;
    flex-direction: column;
    background-color: white;

    h2 {
        color: white;
        width: 100%;
        background-color: $violet;
        margin: 0;
        padding: 5px;
        text-align: center;
    }

    .partenaires-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        align-items: center;

        @media screen and (min-width : 1240px) {
            margin-left: 10%;
            margin-right: 10%;
            gap: 50px;
        }

        a {
            flex-grow: 0;
            flex-shrink: 0;
            @media screen and (max-width:768px) {
                flex-basis: 25%;
                
            }
            @media screen and (min-width:768px) {
                flex-basis: 15%; 
            }

            img {
                width: 100%;
            }
        }
    }
}
